.container
	.jumbotron
		h1 Welcome to MEAN app
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia unde quae nostrum excepturi magnam inventore consectetur aut iusto, eos asperiores.
	

