doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		base(href="/")
		title MEAN App
		link(rel="shortcut icon", href="/favicon.png")
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/toastr.min.css")
		link(rel="stylesheet", href="/css/main.css")
		
	body(ng-app="app")
		block main-content
		include scripts
