//- vendor
script(src="/vendor/jquery/dist/jquery.min.js")
//- script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="/vendor/angular/angular.min.js")
script(src="/vendor/angular-resource/angular-resource.min.js")
script(src="/vendor/angular-route/angular-route.min.js")
//- script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")

//- user
script(src="/app/main.js")
script(src="/app/home/HomeCtrl.js")
